/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 995px) {
 body{min-width:768px;}

}

@media only screen and (max-width: 767px) {
	body{min-width:420px;}
	
	header{
		position: fixed;
		height: 60px;
		width: 100%;
		left: 0;
		top: 0;
		padding: 0 20px;
		border-bottom: 1px solid #eee;
		z-index: 888;
		background-color: #fff;
	}

	.logo{
		
	}
		.logo a{
			background: #000;
			width: 150px;
			height: 60px;	
		}

	/*============== Styles for NAVIGATION =================*/

	#toggle_nav_btn{
		width: 50px;
		height: 50px;
		display: block;
		cursor: pointer;
		background-color: green;
		position: absolute;
		top: 5px;
		left: -70px;
		z-index: 99;
	}

	.navTrue #toggle_nav_btn{
		left: -50px;
	}

	[role="navigation"]{
		width: 320px;
		height: 100%;
		position: fixed;
		z-index: 999;
		top: 0;
		right: 0;
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		-o-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
		background-color: violet;
	}

	#toggle_nav_btn,
	[role="navigation"],
	.nav_overlay{
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}

	[role="navigation"] .menu{
		overflow: auto;
		max-height: 100%;
	}

	.menu_item{
		font-size: 18px;
		border-bottom: 1px solid #000;
	}
		.menu_link{
			display: block;
			padding: 8px 20px;
		}

	.navTrue [role="navigation"]{
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-o-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.navTrue .nav_overlay{
		opacity: .5;
		visibility: visible;

	}



	/*============== !!! =================*/
}

@media only screen and (max-width: 479px) {
	body{min-width:300px;}

	[role="navigation"]{
		width: 250px;
	}
}