@import "../css/reset.css";
@import "../css/animate.min.css";
@import "../css/flexslider.css";
@import "../css/owl.carousel.css";
@import "../plugins/superfish/superfish.css";
@import "../css/jquery-ui.css";
@import "../plugins/easy-responsive-tabs/easy-responsive-tabs.css";
@import "../css/jquery.fancybox.css";
@import "../css/jquery.fancybox-buttons.css";
@import "../css/jquery.fancybox-thumbs.css";
/*
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block;}mark,rp,rt,ruby,summary,time{display:inline;};
@import 'https://fonts.googleapis.com/css?family=Poiret+One';
@import 'https://fonts.googleapis.com/css?family=Bad+Script|Comfortaa|Cormorant+Infant|Kurale|Lato|Lobster|Open+Sans|Roboto';
@import 'https://fonts.googleapis.com/css?family=Comfortaa:300';*/
/* Global properties ======================================================== */

html{
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  color: #284b05;
  min-width:960px;
  background: url(../image/bg104.jpg) 0% 0% fixed no-repeat; /*slide2.lpg*/
  -webkit-background-size: 100%;
       -o-background-size: 100%;
          background-size: 100%;
}
  .main{
    max-width: 1200px;
    margin: auto;
    padding: 10px 15px 10px;
    
  }
    .section{
      min-height: 345px;
      padding: 20px 15px 50px;
      margin-bottom: 20px;
      background-color: rgba(255, 255, 255, 0.3);
    }

*{
  box-sizing: border-box;
}
/*----------------------> Links And buttons <------------------*/
a {
  color:#;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
  text-decoration:none;
}

.btn{
  display:inline-block;
  padding:0 0 0;
  margin: 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.btn:hover{
  background:;
  color:#000;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/

.blue{color: #000080;}
.brown{color: #988881;}
.brown_dark{color: #422E25;}

[data-skin="blue_bg"]{
    background-color: #8294FF;
}
[data-skin="brown_bg"]{
    background-color: #988881;
}
[data-skin="light_bg"]{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    padding: 12px 15px;
}



/*---------Global overlay----------*/

.nav_overlay{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 222;
  background-color: #000;
}

/*======================> Header <======================*/

header {
    color: #fff;
    display: flex;
    font-size: 16px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    background-color: #519E05;
}
.logo_block{
    margin-top: 95px;
}
    .header_nav_block{
        
    }
      #logo_box{
        width: 14%;
        height: 100px;
        margin-right: 20px;
        /*background-color: #FFF;
        -webkit-border-radius: 50%;
                border-radius: 50%;*/
      }
        #logo_box img{
          width: 100%;
          height: 100%;
        }
      #header_nav{
        padding: 0 15px;
        display: inline-block;
      }
        .sf-menu{
          
        }
          .header_nav_item{
            float: left;
            display: block;
            padding: 0 8px;
          }
          .header_nav_item:last-child a{
            margin: 0;
          }
            .header_nav_item:before{
              content: "";
              display: block;
              position: absolute;
              height: 0;
              bottom: 0;
              left: 0;
              right: 0;
              background-color: #fff;
            }
              .header_nav_item:hover:before {
                height: 100%;
                -webkit-transition: all 0.20s ease;
                -moz-transition: all 0.20s ease;
                -o-transition: all 0.20s ease;
                transition: all 0.20s ease;
              }
            .header_nav_item:hover{
              -webkit-transition: all 0.7s ease;
              -moz-transition: all 0.7s ease;
              -o-transition: all 0.7s ease;
              transition: all 0.7s ease;
            }
            .header_nav_item a{
              line-height: 1.1;
              text-align: center;
              padding: 10px 40px;
              display: inline-block;
            }
          .header_nav_item a, 
          .sub_menu_item a{
            color: #FFF;
            font-size: 25px;
            font-style: italic;
            font-family: 'Cormorant Infant';
          }
          .sub_menu_item a{
                font-size: 20px;
                padding: 10px 30px;
          }
            .sub_menu_item a:hover{
                padding-left: 60px;
            }
        .logo_block{
            width: 650px;
            margin: 80px auto 15px;
        }

    /*--------  dropdown menu  -------*/
    .dropdown_link{position: relative;}
      .sub_menu{
        position: absolute;
        left: 0;
        width: 270px;
        height: auto;
      }

/*=====================> Content ========================*/
#content {padding:0px 0px 0px 0px; min-height: 1500px;}
.cont_pad{padding:0 0 0 0 !important;}

header + section{
    margin-top: 92px;
}

.flexslider{
    width: 1000px;
    height: 508px;
    margin: 0 auto 90px;
}
    .slides li{
        width: 100%;
        height: 500px !important;
        display: block;
    }
        .slides li img{
            width: 100%;
            height: 100% !important;
        }
    .aside_block{
        width: 250px;
        position: fixed;
        display: inline-block;
        left: 40px;
    }
    
    .description_figure{
        margin-bottom: 45px;
    }
    .description_figure:last-child{
        margin-bottom: 0;
    }
        .description_figure .img_box{
            width: 26%;
            margin-right: 20px;
            padding: 3px;
            border: 2px solid #519e05;
            -webkit-border-radius: 2px;
                    border-radius: 2px;
        }
            .description_figure .img_box img{
                width: 100%;
            }
        .description_figure figcaption{
            width: 68%;
        }

    .back_link{
        color: #fff;
        margin: 30px 0 10px;
        padding: 10px 15px;
        border-radius: 10px;
        display: inline-block;
        text-transform: uppercase;
        background: rgba(100, 87, 82, 0.6);
    }
        .back_link:hover{
            background: rgba(100, 87, 82, 0.9);
        }

    .col3{
        width: 31%;
        margin: 0 10px;
    }
        .news_date{
            font-size: 45px;
            margin-right: 20px;
        }
            .month{
                font-size: 18px;
            }
            .news_title{
                font-size: 24px;
                margin-top: -20px;
            }
            .news_info{
                padding-top: 10px;
                border-top: 1px solid #998d88;
            }


    .img_box_col3{
        width: 100%;
        height: 250px;
    }
        .img_box_col3 img{
            width: 100%;
            height: 100%;
        }
        .col3_link{
            color: #284b05;
            display: inline-block;
            border-bottom: 2px solid transparent;
        }
            .col3_link:hover{
                border-bottom: 2px solid #709107;
            }


    /*---------------===========   TIMETABLE   ===========---------------*/
    .timetable_box{
        padding: 10px;
        margin-bottom: 20px;
        background-color: rgba(81, 158, 5, 0.48);
    }
        .timetable_table{
            width: 100%;
        }
            .timetable_table tr{
                padding: 15px 10px;
                border-bottom: 1px solid #519e05;
            }
            .timetable_table tr:first-child{
                border-bottom: 2px solid #519e05;
            }
            .timetable_table tr:last-child{
                border-bottom: none;
            }
                .timetable_table tr th{
                    width: 33%;
                    font-size: 16px;
                    font-weight: 600;
                    text-align: left;
                    padding: 15px 10px;
                }
                .timetable_table tr td{
                    width: 33%;
                    padding: 15px 10px;
                }

                .accordion_item_link{
                    cursor: pointer;
                    position: relative;
                }  
                    .accordion_item_link:after{
                        content: "";
                        width: 0;
                        height: 0;
                        border: 10px solid; 
                        position: absolute;
                        right: 50px;
                        top: 50%;
                        margin-top: 2px;
                        border-color: #422e38 transparent transparent transparent;
                    }
                    .accordion_item_link.active:after{
                        content: "";
                        width: 0;
                        height: 0;
                        border: 10px solid; 
                        position: absolute;
                        right: 50px;
                        top: 50%;
                        margin-top: 2px;
                        border-color: transparent transparent #422e38 transparent;
                    }
                    .sub-menu{
                        display: none;
                    }
        /*-------------  QOUTES  ------------*/
        .quote_box{
            opacity: 0.9;
            padding: 25px 50px;
            margin-bottom: 20px;
            -webkit-background-size: cover;
                 -o-background-size: cover;
                    background-size: cover;
            font-family: 'Bad Script', cursive;
            background-color: rgba(112, 145, 7, 0.43);
        }

            .quote_text{
                color: #FFF;
                font-size: 26px;
                position: relative;
                letter-spacing: 1.5px;
            }
                .quote_text:before,
                .quote_text:after{
                    width: 35px;
                    height: 35px;
                    position: absolute;
                }
                .quote_text:before{
                    content: "";
                    top: -20px;
                    left: -45px;
                    -webkit-background-size: 100%;
                         -o-background-size: 100%;
                            background-size: 100%;
                    background: url(../image/icon/quote1.png) 3% 0% no-repeat;
                }
                .quote_text:after{
                    content: "";
                    bottom: -35px;
                    right: -45px;
                    -webkit-background-size: 100%;
                         -o-background-size: 100%;
                            background-size: 100%;
                    background: url(../image/icon/quote1.png) 93% 90% no-repeat;
                }
            .quote_box > span{
                color: #fff;
                display: block;
                font-size: 16px;
                margin-top: 45px;
                text-align: right;
            }

    /*---------------===========   MINISTRY   ===========---------------*/
    .ministry_describe_block{
        margin-bottom: 40px;
    }
        .ministry_img_box{
            width: 30%;
            float: left;
            margin-right: 20px;
        }
            .ministry_img_box img{
                width: 100%;
                height: 100%;
            }
        .ministry_info{
            float: left;
            width: 67%;
        }
            .ministry_info p{
                
            }

            .contact_numbers{
              margin-left: 20px;
              margin-top: -10px;
              margin-bottom: 20px;
            }

    /*---------------===========   MEDIA   ===========---------------*/
        .media_list{
            margin-bottom: 15px;
        }
            .media_list li{
                float: left;
                width: 33.33%;
                border-right: 1px solid #519e05;
                background: rgba(112, 145, 7, 0.2);
            } 
            .media_list li:last-child{
                border-right: none;
            }
                .media_list li a{
                    width: 100%;
                    color: #454545;
                    display: block;
                    padding: 10px 0;
                    font-size: 18px;
                    font-weight: 400;
                    text-align: center;
                    text-decoration: none;
                }
                .media_list li .current,
                .current,
                .media_list li:hover,
                .years_list li:hover{
                    background: rgba(112, 145, 7, 0.6);
                }

      .audio_box{
          margin-bottom: 30px;
          padding-left: 10px;
          border-left: 1px solid #998d88;
      }
          .audio_box h4{
              display: inline-block;
              margin-bottom: 5px;
          }
          .audio_box span{
              line-height: 1.5;
              margin-left: 15px;
              margin-bottom: 5px;
          }
          audio{
              width: 68%;
          }
      .video_box{
          float: left;
          width: 31.5%;
          margin: 10px;
      }
      /*.video_box:nth-child(2n+1){
          margin-right: 0;
      }*/

      /*---------------  PHOTO GALLERY  ----------------*/
        .years_list{
          margin-bottom: 15px;
          border-top: 1px solid #519e05;
          border-bottom: 1px solid #519e05;
        }
          .years_list li{
            width: 11.12% !important;
            display: inline-block;
            border-right: 1px solid #519e05;
            margin-right: -4px;
            
          }
          .years_list li:last-child{
            border-right: none;
            
          }
            .years_list li a{
              width: 100%;
              color: #454545;
              display: block;
              padding: 10px 0;
              text-align: center;
            }

          .masonry_item{
            width: 24.2%;
            margin: 2px;
            float: left;
          }
            .fb_link{
              width: 100%;
              display: inline-block;
            }
              .fb_link img{
                width: 100%;
                height: auto;
              }


/*=====================> Paragraphs ========================*/

p {margin-bottom:18px; line-height: 26px;}
.mb1{ margin-bottom:1px;}
.mb2{ margin-bottom:2px;}
.mb3{ margin-bottom:3px;}
.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb6{ margin-bottom:6px;}
.mb7{ margin-bottom:7px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb11{ margin-bottom:11px;}
.mb12{ margin-bottom:12px;}
.mb13{ margin-bottom:13px;}
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb17{ margin-bottom:17px;}
.mb18{ margin-bottom:18px;}
.mb19{ margin-bottom:19px;}
.mb20{ margin-bottom:20px;}
.mb21{ margin-bottom:21px;}
.mb22{ margin-bottom:22px;}
.mb23{ margin-bottom:23px;}
.mb24{ margin-bottom:24px;}
.mb25{ margin-bottom:25px;}
.mb26{ margin-bottom:26px;}
.mb27{ margin-bottom:27px;}
.mb28{ margin-bottom:28px;}
.mb29{ margin-bottom:29px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb33{ margin-bottom:33px;}
.mb34{ margin-bottom:34px;}
.mb35{ margin-bottom:35px;}
.mb36{ margin-bottom:36px;}
.mb37{ margin-bottom:37px;}
.mb38{ margin-bottom:38px;}
.mb39{ margin-bottom:39px;}
.mb40{ margin-bottom:40px;}
.mb41{ margin-bottom:41px;}
.mb42{ margin-bottom:42px;}
.mb43{ margin-bottom:43px;}
.mb44{ margin-bottom:44px;}
.mb45{ margin-bottom:45px;}
.mb46{ margin-bottom:46px;}
.mb47{ margin-bottom:47px;}
.mb48{ margin-bottom:48px;}
.mb49{ margin-bottom:49px;}
.mb50{ margin-bottom:50px;}
.mb51{ margin-bottom:51px;}
.mb52{ margin-bottom:52px;}
.mb53{ margin-bottom:53px;}
.mb54{ margin-bottom:54px;}
.mb55{ margin-bottom:55px;}
.mb58{ margin-bottom:58px;}
.mb62{ margin-bottom:62px;}
.mb75{ margin-bottom: 75px;}


/*=====================> Lists ========================*/
.list1{}
.list1 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1 a{}

.list2{}
.list2 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2 a{}

.list3{}
.list3 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3 a{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-size: 20px;
  font-weight:normal;
}
.title{
  font-size: 42px;
  font-style: italic;
  font-weight: 400;
  line-height: 2;
  color: #fff;/* #92a2ff*/
  text-shadow: 0px 2px 3px #fff;
}

.title1{
    color: #284b05;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.title2{
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.title3{
  font-size: 22px;
  line-height: 1.1;
  margin-bottom: 15px;
}

.title4{
  font-size: 18px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.title5{
  font-size: 16px;
  line-height: 1.1;
  margin-bottom: 20px;
}



/*================================>> GOOGLE FONTS  <<========================================*/

/*.andika{
  font-family: 'Andika', sans-serif;
}
.open_sans_lt{
  font-weight: 300;
  font-family: 'Open Sans Condensed', sans-serif;
}
.open_sans_lt_it{
  font-weight: 300;
  font-style: italic;
  font-family: 'Open Sans Condensed', sans-serif;
}
.open_sans_bold{
  font-weight: 700;
  font-family: 'Open Sans Condensed', sans-serif;
}
.noto_sans_reg{
  font-weight: 400;
  font-family: 'Noto Sans', sans-serif;
}
.noto_sans_reg_it{
  font-weight: 400;
  font-style: italic;
  font-family: 'Noto Sans', sans-serif;
}
.noto_sans_bd{
  font-weight: 700;
  font-family: 'Noto Sans', sans-serif;
}
.noto_sans_bd_it{
  font-weight: 700;
  font-style: italic;
  font-family: 'Noto Sans', sans-serif;
}

.pioret{
  font-family: 'Poiret One', cursive;
}
.didact{
  font-family: 'Didact Gothic', sans-serif;
}
.marck{
  font-family: 'Marck Script', cursive;
}
.bad{
  font-family: 'Bad Script', cursive;
}
.comf_lt{
  font-weight: 300;
  font-family: 'Comfortaa', cursive;
}
.comf_reg{
  font-weight: 400;
  font-family: 'Comfortaa', cursive;
}
.comf_bd{
  font-weight: 700;
  font-family: 'Comfortaa', cursive;
}*/

  /*{
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Comfortaa', cursive;
    font-family: 'Cormorant Infant', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Bad Script', cursive;
    font-family: 'Kurale', serif;
  }*/
  .cormorant{
    font-family: 'Cormorant Infant';
  }
  .lobster{
    font-family: 'Lobster', cursive;
  }
  .bad_script{
    font-family: 'Bad Script', cursive;
  }
  .kurale{
    font-family: 'Kurale', serif;
  }
  .comfortaa{
    font-family: 'Comfortaa', cursive;
  }
    



/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
.txt_field{
  margin:0;
  font-size:12px;
  border:1px solid #e7e7e7;
  color:#969696;
  padding:7px 10px;
  outline:none;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.msg_field{
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}

#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
    .map_box {
        float: left;
        width: 60%;
        margin: 0 20px 20px 0;
        padding: 5px;
        border: 2px solid #519e05;
    }
        .map_box iframe{
            width: 100%;
            height: 450px;
        }
    .contacts_info{
        width: 37%;
        float: left;
    }
    .adress{}
    .adress dt:first-child{
        margin-top: 0;
    }
    .adress dt{ 
        font-size: 16px;
        margin-top: 25px;
        font-weight: 600;
        margin-bottom: 7px;
    }
    .adress dd{
        margin-left: 20px;
    }
    

    .ministry_link{
        display: inline-block;
        float: left;
        width: 100%;
        padding: 0 7px;
    }
    .church_link{
      width: 24%;
      float: left;
      padding: 0 7px;
    }
            .church_img_box{
                width: 100%;
                height: 258px;
                text-align: center;
                margin-bottom: 20px;
                padding: 7px;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                /*border: 3px solid transparent;*/
                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
                -o-transition: all .4s ease;
                transition: all .4s ease;
                
            }
                .church_img_box img{
                    width: 100%;
                    height: 100%;
                    -webkit-border-radius: 100%;
                            border-radius: 100%;
                }
            .ministry_link figcaption,
            .church_link figcaption{
                color: #284b05;
                font-size: 18px;
                text-align: center;
                -webkit-transition: all .7s ease;
                -moz-transition: all .7s ease;
                -o-transition: all .7s ease;
                transition: all .7s ease;
            }
            .ministry_link:hover .church_img_box,
            .church_link:hover .church_img_box{
                /*border: 3px solid #998d88;*/
                transform: rotate(360deg);
                -webkit-transition: all .7s ease;
                -moz-transition: all .7s ease;
                -o-transition: all .7s ease;
                transition: all .7s ease;
            }
            .ministry_link:hover figcaption,
            .church_link:hover figcaption{
              background: rgba(112, 145, 7, 0.43);
              -webkit-transition: all .7s ease;
                -moz-transition: all .7s ease;
                -o-transition: all .7s ease;
                transition: all .7s ease;
            }

/*================================>> Footer <<========================================*/
footer {
  color: #fff;
  font-size: 16px;
  /*background-color: #988881;*/
      background-color: #519e05;
  padding:22px 0 26px 22px;
}

/*============================= Easy responsive tabs ============================*/


.resp-tabs-list li {
    
}


h2.resp-accordion {
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-easy-accordion  h2.resp-accordion {
        display: block;
}

.resp-tab-content-active {
    display: block;
}


@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    
    .resp-accordion-closed {
        display:none !important;
    }
    
}


/*============================ Arctic modal =============================*/
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


/* ========================== OWL CAROUSEL =============================*/
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
  padding: 0 25px;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
  
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

  .owl-prev,
  .owl-next{
    top: 50%;
    width: 50px;
    height: 50px;
    padding: 4px;
    margin-top: -20px;
    position: absolute;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    color: transparent;
    display: block !important;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    /*background-color: rgba(112, 145, 7, 0.43);*/
  }
  .owl-prev{
    left: -40px;
    background: rgba(112, 145, 7, 0.43) url(../image/icon/arrow_left.png) 50% 50% no-repeat;
  }
  .owl-next{
    right: -40px;
    background: rgba(112, 145, 7, 0.43) url(../image/icon/arrow_right.png) 50% 50% no-repeat;
  }
  .owl-prev:hover,
  .owl-next:hover{
    background-color: rgba(112, 145, 7, 1);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
  }